<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vigiato</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../styles.css">
</head>
<body>
    <header>
        <input type ="checkbox" name ="" id ="chk1">
        <div class="logo"><h1>Vigiato</h1></div>
            <div class="search-box">
                <form>
                    <input type ="text" name ="search" id ="srch" placeholder="Search">
                    <button type ="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
            <div class="menu">
                <label for="chk1">
                    <i class="fa fa-bars"></i>
                </label>
            </div>
    </header>
    <section class="container">
        <div class="slider-wrapper">
            <div class="slider">
                    <img id="slide-1" src="../../../Call-of-Duty-Modern-Warfare-2-5.jpg">
                    <img id="slide-2" src="../../../social-image-chapter4-s3-3840x2160-d35912cc25ad.jpg">
                    <img id="slide-3" src="../../../Jujutsu-Kaisen-Cursed-Clash-Announced_07-01-23.jpg">
                    <img id="slide-4" src="../../../1282982.jpg">
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
                <a href="#slide-4"></a>
            </div>
        </div>
    </section>

    <script>
        var socket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/');
        socket.onmessage = function (e) {
            var message = e.data;
            document.querySelector('#echo-log').value += (message + '\n');
        };

        socket.onclose = function (e) {
            console.error('Soket closed unexpectly');
        };
    </script>
</body>
</html>