.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding-top: 1rem;
    padding-left: 2rem;
}
.logo {
    position: absolute;
    right: 20px;
    top: 13px;
}
.menubar ul{
    background-color: gray;
    list-style: none;
    text-align: right;
}
.menubar li{
    display: inline-block;
    padding: 20px;
    color: black;
}
.menubar ul li a{
    text-decoration: none;
    color: white;
}
.menubar li:hover {
    background-color: rgb(135, 19, 19);
    color: rgb(0, 0, 0);
}
.news {
    margin-right: 250px;
}