* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
.navbar {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding-top: 1rem;
    padding-left: 2rem;
}
.menubar{
    text-align: right;
    background-color: gray;
}
.menubar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.news {
    margin-right: 250px;
}
.menubar ul li {
    padding: 20px;
    color: rgb(255, 255, 255);

    transition: all 0.3s;
}
.menubar ul li:hover {
    background-color: rgb(161, 0, 0);
    color: black;
}
.sub-menu-1 {
    display: none;
    transition: all 0,3s;
}
.menubar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: rgb(77, 77, 77);
    margin-top: 20px;
    margin-left: -113px;
}
.menubar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}
.menubar ul li:hover .sub-menu-1 li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    text-align: center;
    background: transparent;
    border-radius: 0;
    text-align: right;
}
.menubar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}
.menubar ul li:hover .sub-menu-1 li a:hover {
    color: white;
}
.logo {
    position: absolute;
    right: 20px;
    top: 20px;
}
.login {
    background-color: rgb(210, 13, 13);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    position: absolute;
    top: 47px;
    left: 140px;
}
.sign_up {
    background-color: rgb(208, 208, 208);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    position: absolute;
    top: 47px;
    left: 50px;
}
.searchbar{
    position: absolute;
    top: 46px;
    left: 230px;
}
.search-box input{
    width: 230px;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: left;
    padding-left: 30px;
}
.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 1px;
    right: 1px;
    transform: scale(0.9);
    background-color: red;
}